.root {
  border: none;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: #037bff;
  transition: background-color .15s ease-out;

  &:hover {
    cursor: pointer;
    background-color: #008bff;
  }

  &:focus {
    outline: none;
    background-color: #186aea;
  }
}
