@import '../../assets/main';

.root {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 24px;

  @media screen and (max-width: $laptop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $tablet-s) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: $mobile) {
    gap: 16px;
  }
}
