.root {
  border: 1px solid #037bff;
  border-radius: 8px;
  padding: 4px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  transition: background-color .15s ease-out;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #B9DBFF;
  }

  &:disabled {
    color: #037bff;
    background-color: #fff;
    opacity: 0.5;
  }

  &:disabled:hover {
    cursor: not-allowed;
  }

  &_default {
    color: #037bff;
    background-color: #fff;

    &:hover {
      background-color: #E2F1FF;
    }
  }

  &_selected {
    color: #fff;
    background-color: #037bff;

    &:hover {
      background-color: #008BFF;
    }
  }
}